/* <!-- MEDIA QUERIES ---------------------------------------------------------------------------------------------> */
/* <!-- LAPTOP (1440p) ---------------------------------------------------------------------------------------------> */
@media only screen and (min-width: 1025px) and (max-width: 1440px),
only screen and (min-width: 853px) and (max-width: 1280px) {

    /* About Me */
    .about-name {
        bottom: 65%;
    }

    .about-name img {
        height: 9rem;
    }

    .about {
        padding: 6rem 12rem 0 12rem;
        grid-column-gap: 3rem;
    }

    /* Works */
    .artwork-image p {
        font-size: 2rem;
    }

    .works-gallery.digital-art {
        grid-template-columns: repeat(2, 1fr);
    }

    .works-gallery.miscellaneous {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Text */
    .artwork-title {
        font-size: 1.25rem;
    }

    .footer-info {
        font-size: 1.25rem;
    }

    .footer-socials {
        font-size: 1.25rem;
    }
}

/* <!-- (125% SCALE)  DESKTOP/LAPTOP + UPSCALE ---------------------------------------------------------------------------------------------> */
@media (max-width: 1536px) and (min-width: 1535px) and (min-resolution: 120dpi) and (max-resolution: 121dpi) {

    /* Navbar */
    .navbar {
        height: 5rem;
    }

    .nav-logo {
        height: 2.5em;
    }

    /* About Me */
    .about-name {
        bottom: 65%;
    }

    .about-name img {
        height: 8rem;
    }

    .about {
        padding: 6rem 16rem 0 16rem;
        grid-column-gap: 3rem;
    }

    .about-image {
        max-width: 400px;
    }

    /* Works */
    .works-gallery.digital-art {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4.5rem;
        grid-row-gap: 2.5rem;
    }

    .works-gallery.miscellaneous {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 4.5rem;
        grid-row-gap: 2.5rem;
    }

    /* Text */
    .nav-links a {
        font-size: 1.25rem;
    }

    .nav-socials a {
        font-size: 1.25rem;
    }

    .nav-socials span {
        font-size: 1.25rem;
    }

    .works-header {
        font-size: 1.25rem;
    }

    .artwork-title {
        font-size: 1rem;
    }

    .about-text {
        font-size: 1.05rem;
    }
}

/* <!-- (150% SCALE) DESKTOP + UPSCALE ---------------------------------------------------------------------------------------------> */
@media (max-width: 1280px) and (min-width: 1279px) and (min-resolution: 144dpi) and (max-resolution: 145dpi) {

    /* Navbar */
    .navbar {
        height: 4rem;
    }

    .nav-logo {
        height: 2.5em;
    }

    /* About Me */
    .about-name {
        bottom: 65%;
    }

    .about-name img {
        height: 7rem;
    }

    .about {
        padding: 6rem 12rem 0 12rem;
        grid-column-gap: 3rem;
    }

    .about-image {
        max-width: 300px;
    }

    /* Works */
    .works {
        padding: 4rem 0 4rem 0;
    }

    .works-gallery.digital-art {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4.5rem;
        grid-row-gap: 2.5rem;
    }

    .works-gallery.miscellaneous {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4.5rem;
        grid-row-gap: 2.5rem;
    }

    /* Text */
    .nav-links a {
        font-size: 1.25rem;
    }

    .nav-socials a {
        font-size: 1.25rem;
    }

    .nav-socials span {
        font-size: 1.25rem;
    }

    .works-header {
        font-size: 1.25rem;
    }

    .artwork-title {
        font-size: 1rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .footer-info {
        font-size: 1rem;
    }

    .footer-socials {
        font-size: 1rem;
    }

}

/* <!-- MOBILE ---------------------------------------------------------------------------------------------> */
@media only screen and (max-width: 767px),
only screen and (orientation: portrait) {

    /* Navbar */
    .navbar {
        height: 6rem;
        width: 100vw;
    }

    .nav-socials {
        display: none;
    }

    /* Index */
    .home {
        width: 100vw;
        height: 100vh;
    }

    .video-loop-bg {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 220%;
        height: 204%;
        transform: translate(-52%, -50%) rotate(90deg);
    }

    .video-tint {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: -1;
    }

    img.home-logo {
        width: 30%;
    }

    img.home-name {
        display: none;
    }

    /* About Me */
    .about {
        height: 100%;
        padding: 10rem 2rem 6rem 2rem;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-name {
        bottom: 75%;
    }

    .about-name img {
        height: 4rem;
    }

    .about-text {
        padding-top: 1rem;
    }

    /* Works */
    .works {
        padding: 6rem 0 2rem 0;
    }

    .works-header {
        display: flex;
        gap: 1rem;
        margin-bottom: 4rem;
        padding-top: 4rem;
    }

    .artwork-slash,
    .artwork-name {
        display: block !important;
    }

    .works-gallery.digital-art {
        padding: 0 2rem 0 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2.5rem;
    }

    .works-gallery.miscellaneous {
        padding: 0 2rem 0 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2.5rem;
    }

    .scroll-up {
        margin: 0 2rem 2rem 0;
    }

    /* Footer */
    footer {
        width: 100%;
        padding: 2rem;
        flex-direction: column;
        color: white;
    }

    .footer-socials {
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        gap: 0.5rem;
    }

    /* Text */
    .nav-links a {
        font-size: 1.25rem;
    }

    .nav-socials a {
        font-size: 1.25rem;
    }

    .nav-socials span {
        font-size: 1.25rem;
    }

    .works-header {
        font-size: 1.25rem;
    }

    .artwork-title {
        font-size: 1rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .footer-info {
        font-size: 1rem;
    }

    .footer-socials {
        font-size: 1rem;
    }
}