.red {
    color: #F32735;
}

/* <!-- WORKS TEXT ---------------------------------------------------------------------------------------------> */
.works-header {
    font-size: 1.5rem;
}

.artwork-title {
    font-size: 1.05rem;
}