.red {
    color: #F32735;
}

/* <!-- WORKS TEXT ---------------------------------------------------------------------------------------------> */
.works-header {
    font-size: 1.5rem;
}

.artwork-title {
    font-size: 1.05rem;
}

/* <!-- ABOUT ME TEXT ---------------------------------------------------------------------------------------------> */
.about-text {
    font-size: 1.25rem;
    line-height: 1.6;
}