/* <!-- VIDEO BACKGROUND ---------------------------------------------------------------------------------------------> */
.video-loop-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.video-tint {
    background-color: #101820b1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* <!-- ABOUT ME ---------------------------------------------------------------------------------------------> */
.about {
    width: 100%;
    height: 100vh;
    padding: 6rem 24rem 0 24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    background-color: rgba(0, 0, 0, 0.859);
    color: white;
}

.about-name {
    position: absolute;
    max-height: 100%;
    bottom: 65%;
    z-index: 2;
    animation: fadeSlideInTop 1.5s ease;  
}

.about-name img{
    height: 10rem;
}

.about-image {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    max-width: 450px;
    background-color: grey;
    border: 2.5px solid #F32735;
    animation: fadeSlideInLeft 1s ease;  
}

.about-text {
    animation: fadeSlideInRight 2s ease;
}

.about-socials {
    margin-top: 3rem;
    text-align: center;
}

.about-socials a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.about-socials a:hover {
    color: #F32735;
}

/* Keyframe Animations */
@keyframes fadeSlideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideInTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

