/* <!-- WORK GALLERY ---------------------------------------------------------------------------------------------> */
.scroll-up {
    color: white;
    background-color: #F32735;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 6rem 2rem 0;
    z-index: 2;
}

.works {
    width: 100%;
    padding: 6rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: white;
}

.works-header {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
}

.filter-item {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.filter-item.active {
    color: #F32735;
    pointer-events: none;
}

.gallery {
    position: relative;
}

.works-gallery {
    position: relative;
    width: 100%;
}

.works-gallery.digital-art {
    width: 100%;
    padding: 0 6rem 0 6rem;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7.5rem;
    grid-row-gap: 4rem;
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.works-gallery.design {
    width: 100%;
    padding: 0 6rem 0 6rem;
    position: absolute;
    top: 0;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7.5rem;
    grid-row-gap: 4rem;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.artwork {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.artwork-title {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5rem;
}

.artwork-slash,
.artwork-title .artwork-name {
    display: none;
}

.artwork-image a {
    width: 100%;
}

.artwork-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transform-origin: top left;
    /* Scale from the top-left corner */
    border: 0.2rem solid #f3273400;
    /* Fully transparent */
    transition: 0.3s ease-in-out;
}

.artwork-image {
    position: relative;
    display: inline-block;
}

.artwork-image p {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    transform-origin: top left;
    transition: 0.3s ease-in-out;
}

.artwork-image video {
    max-width: 100%;
    height: auto;
    display: block;
    transform-origin: top left;
    /* Fully transparent */
    transition: 0.3s ease-in-out;
    z-index: 0;
}

.more-works-tint {
    background-color: #101820b1;
    border: 0.2rem solid #f3273400;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    pointer-events: none;
    transform-origin: top left;
    transition: 0.3s ease-in-out;
}

/* Hover effects */
.filter-item:hover {
    color: #F32735;
}

.artwork-image:hover img {
    transform: scale(1.05);
    border: 0.2rem solid #F32735;
}

.artwork-image:hover p {
    transform: scale(1.05);
}

.artwork-image:hover video {
    transform: scale(1.05);
}

.artwork-image:hover .more-works-tint {
    transform: scale(1.05);
    border: 0.2rem solid #F32735;
}

/* <!-- INDIVIDUAL WORKS ---------------------------------------------------------------------------------------------> */
.display {
    width: 100%;
    padding: 3rem 12rem 3rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000000;
    color: white;
    gap: 2rem;
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1.5rem;
}

.information a {
    text-decoration: underline;
    color: white;
    transition: 0.3s;
}

.images {
    width: 100%;
}

.images img {
    max-width: 100%;
    border: 0.2rem solid #F32735;
}

.information a:hover {
    color: #F32735;
}